NODE_ENV=development
PORT=5000
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=your_paypal_client_id
MONGO_URI=mongodb://127.0.0.1:27017/mern-ecommerce
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=abdulmahleeque07@gmail.com
EMAIL_FROM=abdulmahleeque07@gmail.com
EMAIL_PASS=your_gmail_app_password
